.Card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width:30%;
  border: 1px #E8E8E8 solid;
  border-radius: 1em;
  width: 100%;
  min-width:250px
}

.info {
  padding: 1em;
}

.geo {
  font-size: 70%;
  color: var(--color-primary)
}

.price {
  color: var(--color-second)
}

.line {
  display: flex;
  justify-content: space-between;
}

.btn {
  color:#fff;
  background-color:var(--color-first);
  border:none;
  border-radius: .5em;
  padding: .5em 2em;
  float: right;
}